// OMNIA Low-Code
// Navy Blue Theme 1.0

//
// Color system
//

$white: #fff;
$gray-100: #EBEBEB;
$gray-200: #4E5D6C;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #2998f6;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #a9110c;
$orange: #DF691A;
$yellow: #f0ad4e;
$green: #07de07;
$teal: #20c997;
$cyan: #5bc0de;

$primary: $orange;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-600;
$dark: $gray-800;

$yiq-contrasted-threshold: 185;

// Body background and font color
$body-bg: #2B3E50;
$body-color: $gray-100;

// Elements Border radius
$border-radius: 15px;

// Link Hover color 
$link-hover-color: $primary;

//Font-Family
$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$text-muted: $gray-100;

// Tables
$table-accent-bg: rgba($white,.05);
$table-hover-bg: rgba($white,.075);
$table-border-color: rgba($black,.15);
$table-head-bg: $light;
$table-dark-bg: $light;
$table-dark-border-color: $gray-200;
$table-dark-color: $body-bg;

// Inputs
$input-border-color: $white;
$input-group-addon-color: $body-color;
$input-disabled-bg: darken($body-bg, 10%);
$input-color: lighten($input-disabled-bg, 25%);

// Dropdown
$dropdown-bg: $body-bg;
$dropdown-border-color: darken($body-bg, 10%);
$dropdown-divider-bg: rgba($black,.15);
$dropdown-link-color: $body-color;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;

// Modals
$modal-content-bg: $gray-200;
$modal-header-border-color: rgba(0,0,0,.2);

// Navbar icon hover colors
$navbar-light-hover-color: $primary;

// Cards
$card-cap-bg: $table-hover-bg;
$card-bg: $gray-200;